body, html {
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    margin:0;
    padding:0;
 
    
}

@font-face {
    font-family: 'tw_cen_mt_condensedregular';
    src: url('../fonts/tccm____-webfont.eot');
    src: url('../fonts/tccm____-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tccm____-webfont.woff') format('woff'),
        url('../fonts/tccm____-webfont.ttf') format('truetype'),
        url('../fonts/tccm____-webfont.svg#tw_cen_mt_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#contenedor { 
    width:1200px!important;
    margin-left: auto;
    margin-right: auto;
    background-image:url(../images/fondo03.jpg);
    /*background-color:green;*/
}
#header { 

    text-align: left;
    padding-top: 40px;

    /*background-color:green;*/
}

#menu ul li{margin-top: 3px;float: left;color: white;font-weight: bold;margin: 26px 18px;font-size: 14px;border-right: 1px grey solid;}
#menu ul li a{cursor: pointer; color: white;text-decoration: none;}
#menu ul {list-style: none;background-color: #eeeced;height: 85px;}
#menu {font-family: 'Cabin', sans-serif;list-style: none;height: 25px; text-rendering: optimizeLegibility;margin-top: 30px;}

#footer
{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: black;
	font-weight: normal;
	margin-top:30%;
	font-size: 10px;
}

.contenido_texto{ line-height: 25px;font-family: 'Cabin', sans-serif;background: rgba(0, 0, 0, 0.7); width: 57.5%;height: 500px;margin-top: 70px;margin-left: 5.8%;}
.galeria{ font-family: 'Cabin', sans-serif;background: rgba(0, 0, 0, 0.7); width: 28%;height: 492px !important;margin-top:-500px;margin-right: 5.5%;}
.contenido_texto h3{ font-family: 'Cabin', sans-serif;padding: 10px;color: orange;font-weight: bold;border-bottom: 1px orange solid;}
.contenido_texto p{padding: 10px;}
.textos_cuerpo{font-size: 13px ;text-align: justify;color: white;text-shadow: black 0.1em 0.1em 0.2em;text-rendering: optimizeLegibility;}
.destacado{font-size: 13px ;text-align: justify;color: #ff9500;text-shadow: black 0.1em 0.1em 0.2em;text-rendering: optimizeLegibility; text-transform: uppercase;}
.lb-details{display:none !important;}

.titulo_rendicion{background-image: -webkit-linear-gradient(top, #6a6869, #0b090a);
                  background-image: -moz-linear-gradient(top, #6a6869, #0b090a);
                  background-image: -ms-linear-gradient(top, #6a6869, #0b090a);
                  background-image: -o-linear-gradient(top, #6a6869, #0b090a);
                  background-image: linear-gradient(to bottom, #6a6869, #0b090a);
                  color:white; 
                  border-top-left-radius: 0.5px;
                  width: 230px;
                  height: 25px;
                  line-height: 25px;
                  border-top-right-radius:1em!important;
                  border-top-left-radius:0.3em!important;
                  margin-bottom: -2.5%;
}
.titulo_rendicion_gestionar{
    background: #a72626;
    background-image: -webkit-linear-gradient(top, #a72626, #a72626);
    background-image: -moz-linear-gradient(top, #a72626, #a72626);
    background-image: -ms-linear-gradient(top, #a72626, #a72626);
    background-image: -o-linear-gradient(top, #a72626, #a72626);
    background-image: linear-gradient(to bottom, #a72626, #a72626);
    color:white; 
    border-top-left-radius: 0.5px;
    width: 250px;
    height: 25px;
    line-height: 25px;
    border-top-right-radius:1em!important;
    border-top-left-radius:0.3em!important;
    margin-bottom: -2.5%;
}
.titulo_rendicion h4{padding-left: 8px;}
.titulo_rendicion_gestionar h4{padding-left: 8px;}



.botones {
    cursor: pointer;
    margin-: 2%;
    background: #6a6869;
    background-image: -webkit-linear-gradient(top, #6a6869, #0b090a);
    background-image: -moz-linear-gradient(top, #6a6869, #0b090a);
    background-image: -ms-linear-gradient(top, #6a6869, #0b090a);
    background-image: -o-linear-gradient(top, #6a6869, #0b090a);
    background-image: linear-gradient(to bottom, #6a6869, #0b090a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height:32px;
    line-height:10px;
    width:85px;
    border: solid #c2c2c2 0px;
}

.botones:hover {
    cursor: pointer;
    background: #22282b;
    background-image: -webkit-linear-gradient(top, #22282b, #6a6f73);
    background-image: -moz-linear-gradient(top, #22282b, #6a6f73);
    background-image: -ms-linear-gradient(top, #22282b, #6a6f73);
    background-image: -o-linear-gradient(top, #22282b, #6a6f73);
    background-image: linear-gradient(to bottom, #22282b, #6a6f73);
    text-decoration: none;

}
.botones_nueva {
    cursor: pointer;
    margin-: 2%;
    background: #a72626;
    background-image: -webkit-linear-gradient(top, #a72626, #5b2f30);
    background-image: -moz-linear-gradient(top, #a72626, #5b2f30);
    background-image: -ms-linear-gradient(top, #a72626, #5b2f30);
    background-image: -o-linear-gradient(top, #a72626, #5b2f30);
    background-image: linear-gradient(to bottom, #a72626, #5b2f30);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height:32px;
    line-height:10px;
    width:85px;
    border: solid #c2c2c2 0px;
}

.botones_nueva:hover {
    cursor: pointer;
    background: #a72626;
    background-image: -webkit-linear-gradient(top, #a72626, #a72626);
    background-image: -moz-linear-gradient(top, #a72626, #a72626);
    background-image: -ms-linear-gradient(top, #a72626, #a72626);
    background-image: -o-linear-gradient(top, #a72626, #a72626);
    background-image: linear-gradient(to bottom, #a72626, #a72626);
    text-decoration: none;

}

.texto_input{margin-left: 8px;margin-right: 8px;}

.marco_rojo{  background: #a72626;
              background-image: -webkit-linear-gradient(top, #a72626, #a72626);
              background-image: -moz-linear-gradient(top, #a72626, #a72626);
              background-image: -ms-linear-gradient(top, #a72626, #a72626);
              background-image: -o-linear-gradient(top, #a72626, #a72626);
              background-image: linear-gradient(to bottom, #a72626, #a72626);
              -webkit-border-radius: 8;
              -moz-border-radius: 8;
              border-radius: 8px;
              font-family: Arial;
              color: #ffffff;
              font-size: 12px;
              padding: 10px 20px 10px 20px;
              text-decoration: none;
              height:32px;
              line-height:18px;
              width:85px;
              border: solid #c2c2c2 0px;
              font-weight: bold;}


#nueva {background-color: #eeeced;font-family: 'Cabin', sans-serif;list-style: none;height: auto; text-rendering: optimizeLegibility;margin-top: 30px;}
#nueva ul {list-style: none;height: 85px;}
#nueva ul li{margin-top: 3px;float: left;font-weight: bold;margin-right:50px;font-size: 14px;}


input.text {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-spacing: 2px;
  color: #555;
  background-color: #fff;
  width: 60px;  
  height: 26px;


  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  
  -webkit-transition: border linear .2s,box-shadow linear .2s;
}

input.text:hover {
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

input.text:focus {
  border-color: rgba(82,168,236,0.8);
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

.dataTables_filter{margin-right: 50px;}
/********MENU ADMINISTRADOR*********/

#menu_administrador ul li{margin-top: 3px;float: left;color: white;font-weight: bold;margin: 0px 0px;font-size: 14px;}
#menu_administrador ul li input{width: 149.5px!important;border-radius: 0px!important;}
#menu_administrador ul li a{cursor: pointer; color: white;text-decoration: none;}
#menu_administrador ul {list-style: none;height: 34px;}
#menu_administrador {font-family: 'Cabin', sans-serif;list-style: none; text-rendering: optimizeLegibility;margin-top: 30px;}

